* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;

}

body{
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 5px;
}

html::-webkit-scrollbar-thumb {
  background: rgb(209, 209, 209);
  background: linear-gradient(
    180deg,
    rgba(209, 209, 209, 1) 0%,
    rgba(82, 137, 207, 1) 0%,
    rgba(126, 190, 166, 1) 24%,
    rgba(200, 90, 187, 1) 44%,
    rgba(195, 99, 133, 1) 67%,
    rgba(176, 116, 209, 1) 100%
  );
  border-radius: 10px;
}

body{
  background-image: url(assets/img/colorbg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* ----start of header ------ */
header {
  background: rgb(209, 209, 209);
  background: linear-gradient(
    90deg,
    rgba(209, 209, 209, 1) 0%,
    rgba(205, 227, 252, 1) 53%,
    rgba(214, 214, 214, 1) 100%
  );
  color: var(--main-color);
  padding: 1%;
  font-size: 1.5rem;
  opacity: 80%;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  box-shadow: 2px 2px 10px grey;
}

.nav {
  font-family: var(--font-family);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0% 5%;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cross {
  display: none;
}

.navtag {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  /* background-color: black; */
  margin-left: 10%;
}

.navtag a {
  font-size: 1.3rem;
  color: black;
}

.dropdown {
  position: relative;
  /* display: inline-block; */
}

.dropdown-content {
  text-align: center;
  display: none;
  position: absolute;
  background: rgb(209, 209, 209);
  background: linear-gradient(
    90deg,
    rgba(209, 209, 209, 1) 0%,
    rgba(203, 238, 234, 1) 0%,
    rgba(170, 216, 228, 1) 0%,
    rgba(198, 213, 212, 1) 53%,
    rgba(155, 198, 217, 1) 100%
  );
  opacity: 0.8;
  width: 350px;
  border-radius: 10px;
  z-index: 100;
  padding: 10px;
}

.dropdown-content li {
  border-bottom: 3px double aliceblue;
}

.dropdown-content li:hover {

  background-color: rgb(255, 255, 255);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.menubar {
  display: none;
  visibility: hidden;
  cursor: pointer;
}

.searchBox {
  width: 20%;
  display: flex;
  justify-content: center;
}

.searchButton {
  color: var(--main-color);
  background-color: var(--back-color);
  display: flex;
  justify-content: start;
  align-items: start;
  transition: 0.4s;
  font-size: 1.2rem;
  border-radius: 50%;
}

.searchInput {
  float: right;
  transition: 0.4s;
  width: 0px;
  outline: none;
  border: none;
  background-color: var(--main-color);
  font-size: 1.2rem;
  color: var(--back-color);
  border-radius: 5px;
  transition: 1s;
}

.searchBox:hover > .searchInput {
  width: 200px;
  border-bottom: 2px solid black;
}

.navtag > li > a {
  position: relative;
  transition: 0.3s ease-in-out;
}

.navtag > li > a::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -10px;
  width: 10px;
  height: 10px;
  border-top: 2px solid navy;
  border-left: 2px solid navy;
  transition: all 0.7s ease-in-out;
}

.navtag > li > a::before {
  content: "";
  position: absolute;
  bottom: -5px;
  right: -10px;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid navy;
  border-right: 2px solid navy;
  transition: all 0.7s ease-in-out;
}

.nanavtagv > li > a:hover {
  color: navy;
}

.navtag > li > a:hover::before,
.navtag > li > a:hover::after {
  width: 100%;
  height: 100%;
}

#current::before,
#current::after {
  width: 100%;
  height: 100%;
}

/* ----end of header ------ */

/* -----------intro cover-------- */

.popup {
  position: absolute;
  top: 9%;
  margin: 0 auto;
  /* background-color: black; */
  text-align: center;
  width: 20%;
}

.btn-popup {
  /* background: rgb(209,209,209);
  background: linear-gradient(160deg, rgba(209,209,209,1) 0%, rgba(215,255,225,1) 0%, rgba(215,175,179,1) 50%, rgba(140,200,255,1) 100%);
  padding: 5px; */
  background: transparent;
  border-radius: 1rem;
  font-size: 1.2rem;
  margin: auto;
  cursor: pointer;
  border: none;
  color: aliceblue;
  animation-name: bounce1;
  animation-timing-function: ease-in-out;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  /* padding: 5px; */
}

@keyframes bounce1 {
  0% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}

.popuptxt {
  text-align: center;
  background: rgb(209, 209, 209);
  background: linear-gradient(
    90deg,
    rgba(209, 209, 209, 1) 0%,
    rgba(177, 181, 178, 1) 0%,
    rgba(39, 84, 103, 1) 55%,
    rgba(133, 125, 125, 1) 100%
  );
  position: absolute;
  top: 10%;
  background-color: grey;
  opacity: 0.7;
  width: 100%;
  padding: 10px;
  border-radius: 1rem;
  font-size: 1.5rem;
  box-shadow: 1px 1px 10px black;
  display: none;
  animation-name: scale;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes scale {
  0% {
    transform: scaleY(0.8);
  }
  50% {
    transform: scaleY(1);
  }
  100% {
    transform: scaleY(0.8);
  }
}

.cross-popup {
  float: right;
  cursor: pointer;
}

.coverphoto > img {
  width: 100%;
  height: 100vh;
  /* object-fit: cover; */
  filter: brightness(0.5);
}

.cap {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  color: aliceblue;
  width: 100%;
  height: 100%;
}

.introtxt {
  width: 80%;
  mix-blend-mode: overlay;
  box-shadow: 1px 1px 20px black;
  text-align: center;
  padding: 10px;
  margin: 10% auto;
  /* margin-bottom: 5%; */
}
.cap h1 {
  font-size: 2.5rem;
  color: azure;
  margin-bottom: 2%;
}

.cap p {
  font-size: 1.5rem;
}

.cap i {
  margin-top: 1%;
  font-size: 2rem;
}

.stage {
  /* border-bottom: 3px solid #444; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
}

.stage img,
.cap > img {
  width: 50px;
  height: 50px;
}

.box {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  margin: 0 auto 0 auto;
  color: aliceblue;
}
.bounce-3 {
  animation-name: bounce-2;
  animation-timing-function: ease;
}

.company {
  color: skyblue;
}
@keyframes bounce-2 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

/* ---------intro cover ends---------- */

/* -----------special offers---------- */
.offertxt {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.offertxt h2 {
  text-align: center;
  width: 90%;
  border-bottom: 1px solid navy;
}

.offerdiv {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.offerimg img {
  width: 100%;
  height: 200px;
  border-radius: 0.5rem;
}

.card {
  padding: 2%;
  margin: 15px 25px;
  box-shadow: 1px 1px 10px black;
  width: 300px;
  border-radius: 1rem;
  cursor: pointer;
  background-color: rgb(237, 237, 237);
  transition: 0.5s;
}

.card:hover {
  transform: translateY(-5px);
}

.price {
  margin-bottom: 5px;
  border-bottom: 1px dotted navy;
}

.model {
  margin-top: 5px;
  margin-bottom: 2px;
  color: rgb(30, 30, 134);
}

.demo-health{
  color: aliceblue;
  width: 30%;
  margin: auto;
  padding: 10px;
  border-radius: 5px;
  background-color: black;
  opacity: .7;
  text-align: center;
  margin-bottom: 20px;

}

.demo-health h1{
  text-align: center;
}

.demo-health ul li{
  font-size: 1.2rem;
  margin: 10px auto;
}

.demo-health ul{
  /* margin-left: 10%; */
  color: aliceblue;
}

.demo-health ul:hover{
  color: skyblue;
}

.demo-health ul:active{
  color: rgb(82, 125, 143);
}

@media screen and (max-width:1350px) {
  .demo-health{
    width: 40%;
  }
}

@media screen and (max-width:1080px) {
  .demo-health{
    width: 50%;
  }
}

@media screen and (max-width:866px) {
  .demo-health{
    width: 60%;
  }

  .demo-health ul li{
    font-size: 1rem;
  }
}

@media screen and (max-width:560px) {
  .demo-health{
    width: 70%;
  }
}

@media screen and (max-width:475px) {
  .demo-health{
    width: 90%;
  }
}

/* --------nav responsive------------ */

@media screen and (max-width: 1200px) {
  .searchBox {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .nav {
    margin: 0% 2%;
  }
}

@media screen and (max-width: 900px) {
  .navtag {
    display: none;
  }

  .cross {
    display: block;
    margin-left: 80%;
    cursor: pointer;
  }

  .navtagshow {
    display: block;
    position: fixed;
    top: 0px;
    right: 0%;
    opacity: 0.8;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 20px black;
    background-color: black;
  }

  .navtag li a {
    color: aliceblue;
  }

  .nav li a:hover {
    color: black;
  }

  .nav li a::before,
  .nav li a::before {
    width: 0px;
    height: 0px;
  }

  .nav li a::before,
  .nav li a::after {
    width: 0px;
    height: 0px;
    border: 0px;
  }

  .nav li a:hover::before,
  .nav li a:hover::after {
    width: 0%;
    height: 0%;
  }

  .navtag li {
    margin: 10px 0px;
    transition: 1s;
    border-bottom: 1px solid white;
  }

  .navtag li:hover {
    background-color: hsl(197, 71%, 90%);
  }

  .menubar {
    visibility: visible;
    display: block;
  }

  .dropdown-content{
    visibility: hidden;
  }

  .introtxt h1 {
    font-size: 1.8rem;
  }

  .introtxt p {
    font-size: 1.2rem;
  }

  .popup {
    width: 40%;
  }
}
/* --------pop up text------------ */

@media screen and (max-width: 500px) {
  .popup {
    width: 70%;
  }

  .popuptxt {
    font-size: 1rem;
  }
}

@media screen and (max-width: 300px) {
  .introtxt h1 {
    font-size: 1.2rem;
  }

  .introtxt p {
    font-size: 0.9rem;
  }

  .btn-popup {
    font-size: 1rem;
  }
}

/* ---------------footer start------------- */
.footer {
  background: rgb(209, 209, 209);
  background: linear-gradient(
    90deg,
    rgba(209, 209, 209, 1) 0%,
    rgba(203, 238, 234, 1) 0%,
    rgba(159, 226, 255, 1) 100%,
    rgba(133, 125, 125, 1) 100%
  );
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  opacity: 0.7;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20%;
  margin-left: 5%;
}

.socials img {
  height: 30px;
  width: 30px;
}

.reportbox {
  background-color: aliceblue;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px black;
}

.reportbox input[type="text"] {
  border: none;
  background-color: aliceblue;
  padding: 5px;
  outline: none;
}

.reportbox input[type="submit"] {
  font-size: 1rem;
  padding: 3px;
  border-radius: 3px;
  background-color: rgb(165, 214, 233);
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  .socials {
    gap: 5px;
  }
}

@media screen and (max-width: 783px) {
  .footer {
    flex-wrap: wrap;
  }

  .socials {
    order: 1;
    margin-right: 10px;
  }

  .reportbox {
    order: 2;
    margin-right: 5%;
  }

  .copyright {
    width: 80%;
    order: 0;
    margin-right: 10px;
    margin: 10px auto;
    margin-top: 0;
  }

  .copyright p {
    text-align: center;
    margin: auto;
  }
}

@media screen and (max-width: 468px) {
  .footer {
    display: block;
  }

  .reportbox {
    width: fit-content;
    margin: 5px auto;
    text-align: center;
    background-color: lightblue;
  }

  .reportbox input[type="text"] {
    outline: 1px solid navy;
    border-radius: 5px;
    margin-bottom: 5px;
  }

  .copyright {
    width: 100%;
  }
}

/* -----------contact form-------------- */
.contactbg {
  background-image: url(assets/img/colorbg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.contactform {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: brightness(0.9);
}

.contactform form {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding: 2% 2%;
  box-shadow: 1px 1px 10px black;
  border-radius: 10px;
}

.contactform form div {
  margin: 2% 0%;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 80px;
}

.contactform form label {
  padding: 5px;
  border-radius: 5px;
  color: rgb(66, 66, 66);
}

.contactform form input {
  border-radius: 5px;
  font-size: 1.2rem;
  padding: 5px;
  border: none;
  box-shadow: 1px 1px 7px grey;
  outline: 1px solid grey;
  background-color: transparent;
}

.contactform form textarea {
  border-radius: 5px;
  padding: 10px;
  font-size: 1.2rem;
  box-shadow: 1px 1px 5px rgb(84, 84, 122);
  outline: 1px solid grey;
  background-color: transparent;
}

.contactform form input[type="submit"] {
  background-color: transparent;
  border-radius: 5px;
  font-size: 1.5rem;
  mix-blend-mode: overlay;
  box-shadow: 1px 1px 5px black;
  cursor: pointer;
  color: rgb(80, 80, 80);
}

.contacttitle h1 {
  color: rgb(90, 90, 90);
}

.contactform input:hover,
.contactform textarea:hover,
.contactform form input[type="submit"]:hover {
  box-shadow: 1px 1px 8px skyblue;
}

@media screen and (max-width: 700px) {
  .contactform form {
    width: 80%;
  }

  .contactform form div {
    flex-direction: column;
    width: 90%;
    gap: 10px;
  }

  .btn-submit input {
    width: fit-content;
  }
}

@media screen and (max-width: 500px) {
  .contacttitle {
    font-size: 1.5rem;
  }

  .contactform label {
    font-size: 1.3rem;
  }

  .contactform input[type="text"] {
    font-size: 1rem;
  }

  .contactform form textarea {
    font-size: 1rem;
  }

  .contactform form input[type="submit"] {
    font-size: 1rem;
  }


}

/* -------------------rising desks---------------- */
.shopcover{
  position: relative;
}

.shopcover img{
  width: 100vw;
  height: 70vh;

}

.shopcap{
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5%;
  color: aliceblue;
  text-shadow: 1px 1px 10px black;
  font-size: 2rem;
}

.shopcap button{
  width: fit-content;
  font-size: 1.5rem;
  border-radius: 5px;
  background-color: rgb(103, 139, 153);
  padding: 5px;
  color: aliceblue;
  outline: none;
  box-shadow: 1px 1px 10px grey;
  margin-top: 10px;

}

@media screen and (max-width: 700px){
  .shopcap{
    font-size: 1.5rem;
  }
  .shopcap button{
    font-size: 1.2rem;
  }
}


@media screen and (max-width: 480px){
  .shopcap{
    font-size: 1.2rem;
  }
  .shopcap button{
    font-size: 1rem;
  }
}

/* ----------------rising desks---------------- */


.cart img{
  width: 30px;
  height: 30px;
}

#count{
  font-size: 1.5rem;
  display: inline;
  
}

.cart{
  position: fixed;
  display: flex;
  z-index: 10;
  justify-content: center;
  align-items: center;
  top: 9%;
  display: none;
  background-color: skyblue;
  border-radius: 0% 80% 80% 0%;
  opacity: .8;
  padding: 5px;
}


.manual-desk{
  margin: 20px 0px;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 15px 2%;
}

.supply-cap{
  text-align: center;
}

.supply-cap button{
  padding: 3px;
  border-radius: 5px;
  background-color: rgb(111, 65, 218);
  color: aliceblue;
  cursor: pointer;
  margin-top: 5px;
}


.supply-card img{
  width: 200px;
  height: 200px;
  border-radius: 20px;
  box-shadow: 1px 1px 6px black;
  transition: all .2s ease-in-out;
}

.supply-card img:hover{
  transform: scale(1.01);
}

.manual-head{
    
   margin: 10px auto;
   border-bottom: 2px double rgb(95, 93, 93);
   width: fit-content;
}

/* ------------health benefits------------- */
.health-head{
  text-transform: uppercase;
  text-align: center;
  margin-top: 80px;
  border-bottom: 2px dotted black;
}

.health-div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  margin: 2% auto;

}

.health-img img{
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.health-card{
  padding: 10px;
  border-radius: 1rem;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin: 20px 10px;
}

.health-card h3{
  margin-bottom: 5px;
}

.health-vdo iframe{
  width: 70%;
  height: 500px;
}

.health-vdo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

@media screen and (max-width:700px){
  .health-vdo iframe{
    width: 70%;
    height: fit-content;
  }
}

/* ---------------basket------------------ */
.basket-head{
  width: 90%;
}

.basket-head h1{
  margin-top: 5%;
  margin-left: 10%;
  font-size: 50px;
  border-bottom: 5px dotted black;
}

.display-cart{
  width: 100%;
  margin: 10px 10%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  
}
.items .imgdiv img{
  height: 100px;
  width: 100px; 
  border-radius: 1rem;
}

.items .imgdiv{
  margin: 10px 20px;
  border-radius: 1rem;
}

.items{
  width: 100%;
  display: flex;
  /* flex-wrap:wrap ; */
  justify-content: center;
  align-items: center;
  background: rgb(209,209,209);
  background: linear-gradient(90deg, rgba(209,209,209,1) 0%, rgba(203,238,234,1) 0%, rgba(212,246,255,1) 0%, rgba(237,255,254,1) 53%, rgba(191,235,255,1) 100%);
  padding: 10px;
  border-radius: 1rem;
  opacity: .9;
  margin: 5px 0px;


}

.item-name{
  font-size: 1.2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}


.basket-section{
  display: flex;
}

.basket-total{
  display: flex;
  width:80%;
  margin: auto;
  background: rgb(209,209,209);
  background: linear-gradient(90deg, rgba(209,209,209,1) 0%, rgba(203,238,234,1) 0%, rgba(212,246,255,1) 0%, rgba(237,255,254,1) 53%, rgba(191,235,255,1) 100%);
  padding: 10px;
  font-size: 2rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
  margin: 5px auto 20px auto;
}

.basket-total button{
  font-size: 1rem;
  padding: 5px;
  border-radius: .5rem;
  background-color: black;
  color: aliceblue;
}

.basket-total button:hover{
  outline: 1px solid rgb(217, 243, 254);
  color: black;
  background-color: transparent;
  cursor: pointer;
}


@media screen and (max-width:991px){
  .items{
    display: block;
  }
  .item-name p{
    margin: 5px 10px;
  }

  .items .imgdiv{
    text-align: center;
  }

  .basket-head h1{
    margin-top: 10%;
  }

  
  .basket-total{
    font-size: 1.5rem;
  }

}

@media screen and (max-width:496px){
  .item-name{
    font-size: 1rem;
  }

  .basket-head h1{
    margin-top: 15%;
    font-size: 2rem;
    border-bottom: 5px dotted black;
  }


  .basket-total{
    font-size: 1.5rem;
  }

  .basket-total button{
    font-size: .8rem;
  }
}

@media screen and (max-width:396px){
  .items{
    display: flex;
  }

  .item-name{
    display: block;
  }

  
  .basket-total{
    font-size: 1rem;
  }

  .basket-total button{
    font-size: .7rem;
  }

}